<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit this listing</h3>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" id="title" class="form-control" required>
                        <div class="invalid-feedback">Title should be valid</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <textarea name="listing[description]" id="description" class="form-control" required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Description should be short</div>
                    </div>
                    <div class="mb-3">
                        Original listing image <br>
                        <img src="<%= orginalImageUrl %>" alt="listing image" width="250" height="162">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">image</label>
                        <input type="file" name="listing[image]"  id="image" class="form-control">
                        <div class="invalid-feedback">Image should be valid </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%= listing.price %>" id="price" class="form-control" required>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%= listing.country %>"id="country" class="form-control" required>
                            <div class="invalid-feedback">Country should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>"id="location" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <button class="btn btn-dark edit-btn mb-3">Edit</button>
                </form>
            </div>
        </div>








